#versionNum {
  display: flex;
  color:whitesmoke;
  justify-content: flex-end;
  align-items: flex-start;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or 100% if you don't want to fill the entire viewport */
  background-color: #292929;
  flex-direction: column;
}
