#versionNum {
  color: whitesmoke;
  position: absolute; /* Takes #versionNum out of the normal document flow */
  bottom: 0;          /* Positions it 0px from the bottom of its *positioned* parent */
  left: 0;            /* Positions it 0px from the left of its *positioned* parent */
  padding: 0;      /* Add some padding for visual spacing from the very corner */
  margin: 10px;
}

body {
  background-image: url('/static/media/homeWallpaper.png')
}
