/* --- Agrandir Regular --- */
@font-face {
  font-family: 'Agrandir'; /* This is the name you'll use in your CSS (e.g., in font-family property) */
  src: url('/static/media/fonts/Agrandir-Regular.woff2') format('woff2'), /* Path to WOFF2 */
    url('/static/media/fonts/Agrandir-Regular.woff') format('woff');   /* Path to WOFF */
  font-weight: normal; /* This tells the browser this source is for the 'normal' weight */
  font-style: normal;  /* This tells the browser this source is for the 'normal' style */
  font-display: swap;  /* Optional: Controls how font loads (swap is good for performance) */
}
/* --- Agrandir Bold --- */
@font-face {
  font-family: 'Agrandir'; /* Use the SAME font-family name for all variations of the same font */
  src: url('/static/media/fonts/Agrandir-Bold.woff2') format('woff2'),
    url('/static/media/fonts/Agrandir-Bold.woff') format('woff');
  font-weight: bold; /* This tells the browser this source is for the 'bold' weight (or 700) */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archive';
  src: url('/static/media/fonts/Archive-Regular.woff2') format('woff2'),
    url('/static/media/fonts/Archive-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coiny';
  src: url('/static.media/fonts/Coiny-Regular.woff2') format('woff2'),
    url('/static.media/fonts/Coiny-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes bodyAnimation {
    0% {
        background-position: 0% 100%; /* Start at top-right */
    }
    100% {
        background-position: 100% 0%; /* Move to bottom-left */
    }
}
body.no-animation {
    animation: none !important; /* !important ensures this style overrides the animation */
}

#versionNum {
  color: #4DF14F;
  font-family: 'Agrandir', sans-serif;
  position: absolute;
  bottom: 0;          
  left: 0;            
  padding: 4px;      
  margin: 8px;
  background-color: white;
  border-radius: 4px;
  font-size: 1em;
  transition: opacity 1s ease-in-out;
}

#versionNum.fadeOut {
  opacity: 0;
}

body {
  background-image: url('/static/media/homeWallpaper.png');
  background-position: 0% 100%;
  animation: bodyAnimation 100s linear infinite alternate;
  display: flex;
  justify-content: center; /* Centers children vertically */
  align-items: center; /* Centers children horizontally */
  min-height: 100vh; /* Ensures the body takes up the full height of the browser window */
  margin: 0; /* Removes default margin around the body */
  background-color: #a1fe6f;
  transition: background-image 1s ease-in-out, /* Animate image changes over 2 seconds */
    background-color 1s ease-in-out; /* Animate color changes over 2 seconds */
}

body.solid-background {
  background-image: none;    /* Remove the image */
  background-color: var(--dark-bg); /* The new solid color (e.g., a light blue) */
}

#titleAndDisclaimer {
  position: absolute;
  top: 20vh;
  text-align: center;
  transition: opacity 1s ease-in-out;
}

#titleAndDisclaimer.fadeOut {
  opacity: 0;
}

#title {
  display: block; /* Important: Make the image a block element */
  margin-left: auto; /* Centers the block element horizontally */
  margin-right: auto; /* Centers the block element horizontally */
  max-width: 55%; /* Allows the image to scale down on smaller screens */
  height: auto;   /* Maintains the image's aspect ratio */
}

#disclaimer {
  color: #EAFFE8;
  font-family: 'Agrandir', sans-serif;
  text-align: center;
  font-size: 1.875em;
  margin-top: 10px;
  display: none;
}

#buttons {
  display: flex;
  position: absolute;
  flex-direction: row;
  bottom: 25vh;
  transition: opacity 1s ease-in-out;
}

#buttons.fadeOut {
  opacity: 0;
}

#playButton {
  margin-right: 2.36vw;
  color: #EAFFE8;
  background-color: #4DF14F;
  border-radius: 8px;
  border-color: #42C344;
  box-shadow: 6px 6px 0 #42C344;
  font-family: 'Archive', sans-serif;
  width: 10vw;
  height: 7.4218vh;
  font-size: 2em;
  border-width: 3px;
}

#importButton {
  color: #EAFFE8;
  background-color: #4DF14F;
  border-radius: 8px;
  border-color: #42C344;
  box-shadow: 6px 6px 0 #42C344;
  font-family: 'Archive', sans-serif;
  width: 10vw;
  height: 7.4218vh;
  font-size: 2em;
  border-width: 3px;
}

#toggleBodyAni {
  color: #4DF14F;
  font-family: 'Agrandir', sans-serif;
  position: absolute;
  bottom: 0;          
  right: 0;            
  padding: 4px;      
  margin: 8px;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 1em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;
  transition: opacity 1s ease-in-out; 
}

#toggleBodyAni.fadeOut {
  opacity: 0;
}

#playButton:hover {
    transform: translateY(-2px); /* Lifts the button slightly */
    background-color: #5BF15F; /* Slightly lighter green on hover */
}


#playButton:active {
    /* Move the button down and right (towards where the shadow is) */
    transform: translate(8px, 6px);

    /* Reduce or remove the box-shadow to make it look like the button has "entered" it */
    box-shadow: 0 0 0 transparent; /* Or a very subtle, small shadow like 1px 1px 0 #C0C0C0 */

}

#importButton:hover {
    transform: translateY(-2px); /* Lifts the button slightly */
    background-color: #5BF15F; /* Slightly lighter green on hover */
}


#importButton:active {
    /* Move the button down and right (towards where the shadow is) */
    transform: translate(8px, 6px);

    /* Reduce or remove the box-shadow to make it look like the button has "entered" it */
    box-shadow: 0 0 0 transparent; /* Or a very subtle, small shadow like 1px 1px 0 #C0C0C0 */

}

#toggleBodyAni:hover {
    transform: translateY(-2px); /* Lifts the button slightly */
}


#toggleBodyAni:active {
  transform: scale(0.95);
}


/* From Uiverse.io by terenceodonoghue */ 
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #29be98;
  background-image: linear-gradient(#29be98, #2597f8, #2597f8);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container.fadeIn {
  opacity: 1;
}

.container.fadeOut {
  opacity: 0;
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #29be98;
  background-image: linear-gradient(#29be98, #2597f8, #2597f8);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
