:root {
    --dark-bg: #151d29;
    --bg: #2a3950;
    --primary: #7575ff;
    --dark-primary: #4e4ead;
    --darker-primary: #725A7A;
    --primary-green: #b3ff75;
    --classic-green: #2dbd98;
    --primary-blue: #75f1ff;
    --primary-pink: #FF7582;
    --dark-blue: #355C7D;
    --bg-light: #214055;
    --light1: #466E8A;
    --light2: #658ca7;
    --light3: #9fbbcd;
    --red: #fc3f3f;
    --dark-red: #a82a2a;
}